!!! xml
!= "\n<!DOCTYPE html>"
html
  head
    title= title
    meta(name="description", content=description)
    meta(name="keywords", content=keywords)
    meta(name="author", content=author)
    meta(charset="UTF-8")
    block head
      //if lt IE 9
        script(src="/javascript/html5shiv.js")
      //- script(src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js")
      script(src="/socket.io/socket.io.js")
      script(type="application/javascript", src="/javascript/main.js")
      link(type="text/css", rel="stylesheet", href="/style/main.css")
  body
    header
      h1= title
    block content
    footer
      = "Licensed under "
      abbr(title="Berkeley Software Distribution")
        a(href="http://opensource.org/licenses/BSD-3-Clause") BSD
