details
  summary
    | #{task.user.name} #{task.kind} #{task.wait}
    if user.id == task.user.id || user.role in ["admin", "assistant"]
      form
        input(type="hidden", value=task.id)
        input(type="submit", value="Clear")
  p= task.message
